html, body {
  height: 100%;

  overflow: hidden;
}
.ag-spotlight-moving_box {
  height: 100%;
  width: 100%;
  background: url(https://i.imgur.com/p9NNH7T.jpeg) no-repeat scroll 50% 0 #002841;
  background-size: cover;

  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;

  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
.container {
	z-index: 1;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	// min-height: 100vh;
	min-height: 35rem;
	background-image: linear-gradient(to bottom,  rgba(255,168,76,0.6) 0%,rgba(255,123,13,0.6) 100%), url('https://images.unsplash.com/photo-1446824505046-e43605ffb17f');
	background-blend-mode: soft-light;
	background-size: cover;
	background-position: center center;
	padding: 2rem;
}

.bird {
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells-new.svg);
	background-size: auto 100%;
	width: 88px;
	height: 125px;
	will-change: background-position;
	
	animation-name: fly-cycle;
	animation-timing-function: steps(10);
	animation-iteration-count: infinite;

	&--one {
		animation-duration: 1s;
		animation-delay: -0.5s;		
	}
	
	&--two {
		animation-duration: 0.9s;
		animation-delay: -0.75s;
	}
	
	&--three {
		animation-duration: 1.25s;
		animation-delay: -0.25s;
	}
	
	&--four {
		animation-duration: 1.1s;
		animation-delay: -0.5s;
	}

}

.bird-container {
	position: absolute;
	top: 20%;
	left: -10%;
	transform: scale(0) translateX(-10vw);
	will-change: transform;
	
	animation-name: fly-right-one;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	
	&--one {
		animation-duration: 15s;
		animation-delay: 0;
	}
	
	&--two {
		animation-duration: 16s;
		animation-delay: 1s;
	}
	
	&--three {
		animation-duration: 14.6s;
		animation-delay: 9.5s;
	}
	
	&--four {
		animation-duration: 16s;
		animation-delay: 10.25s;
	}
	
}

@keyframes fly-cycle {
	
	100% {
		background-position: -900px 0;
	}
	
}

@keyframes fly-right-one {
	
	0% {
		transform: scale(0.3) translateX(-10vw);
	}
	
	10% {
		transform: translateY(2vh) translateX(10vw) scale(0.4);
	}
	
	20% {
		transform: translateY(0vh) translateX(30vw) scale(0.5);
	}
	
	30% {
		transform: translateY(4vh) translateX(50vw) scale(0.6);
	}
	
	40% {
		transform: translateY(2vh) translateX(70vw) scale(0.6);
	}
	
	50% {
		transform: translateY(0vh) translateX(90vw) scale(0.6);
	}
	
	60% {
		transform: translateY(0vh) translateX(110vw) scale(0.6);
	}
	
	100% {
		transform: translateY(0vh) translateX(110vw) scale(0.6);
	}
	
}

@keyframes fly-right-two {
	
	0% {
		transform: translateY(-2vh) translateX(-10vw) scale(0.5);
	}
	
	10% {
		transform: translateY(0vh) translateX(10vw) scale(0.4);
	}
	
	20% {
		transform: translateY(-4vh) translateX(30vw) scale(0.6);
	}
	
	30% {
		transform: translateY(1vh) translateX(50vw) scale(0.45);
	}
	
	40% {
		transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
	}
	
	50% {
		transform: translateY(0vh) translateX(90vw) scale(0.45);
	}
	
	51% {
		transform: translateY(0vh) translateX(110vw) scale(0.45);
	}
	
	100% {
		transform: translateY(0vh) translateX(110vw) scale(0.45);
	}
	
}

.cloud {
    width: 200px;
    height: 200px;
}
.cloud img {
    float: right;
}

.ag-spotlight-moving_spotlight {
  bottom: 3.4375em;
  z-index: -1;
  width: 14.375em;
  height: 128.125em;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: rgba(255, 255, 255, 0.08);

  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;

  -webkit-animation: an-spotlight-moving-right 20s cubic-bezier(0.6, 0, 0.55, 0.8) infinite;
  -moz-animation: an-spotlight-moving-right 20s cubic-bezier(0.6, 0, 0.55, 0.8) infinite;
  -o-animation: an-spotlight-moving-right 20s cubic-bezier(0.6, 0, 0.55, 0.8) infinite;
  animation: an-spotlight-moving-right 20s cubic-bezier(0.6, 0, 0.55, 0.8) infinite;

  -webkit-clip-path: polygon(0 0, 100% 0, 60% 100%, 40% 100%);
  clip-path: polygon(0 0, 100% 0, 60% 100%, 40% 100%);

  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;

  position: absolute;
}
.ag-spotlight-moving_spotlight-right {
  right: -3.4375em;
}
.ag-spotlight-moving_spotlight-left {
  left: -3.4375em;

  -webkit-animation-name: an-spotlight-moving-left;
  -moz-animation-name: an-spotlight-moving-left;
  -o-animation-name: an-spotlight-moving-left;
  animation-name: an-spotlight-moving-left;
}
.ag-spotlight-moving_airplane {
  top: 9.375em;
  right: -8.8125em;
  width: 8.8125em;
  height: 6.9375em;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-image: url(https://i.imgur.com/87A1hz5.png);

  -webkit-animation: an-airplane 20s 18s linear infinite;
  -moz-animation: an-airplane 20s linear infinite;
  -o-animation: an-airplane 20s linear infinite;
  animation: an-airplane 20s linear infinite;

  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;

  position: absolute;
}
#santa {
  position: absolute;
  animation: fly 35s linear infinite;
  width: 600px;
  z-index: 300;
}

@keyframes fly {
  0% {
    transform: rotateZ(180deg) translate(-125vw, -30vh);
  }
  100% {
    transform: rotateZ(180deg) translate(150vw, -30vh);
  }
}

#scene {
  text-align: center;
  height: 200vh;
  width: 200vw;
  margin: 0;
  padding: 0;
  background: black;
}

@-webkit-keyframes farthest {
    0% {
        right: 0;
    }
    100% {
        right: 100%;
    }
}
@-moz-keyframes farthest {
    0% {
        right: 0;
    }
    100% {
        right: 100%;
    }
}
@-o-keyframes farthest {
    0% {
        right: 0;
    }
    100% {
        right: 100%;
    }
}
@keyframes farthest {
    0% {
        right: 0;
    }
    100% {
        right: 100%;
    }
}
@-webkit-keyframes an-spotlight-moving-right {
  0%, 100% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(-75deg);
    transform: rotate(-75deg);
  }
}
@-moz-keyframes an-spotlight-moving-right {
  0%, 100% {
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  50% {
    -moz-transform: rotate(-75deg);
    transform: rotate(-75deg);
  }
}
@-o-keyframes an-spotlight-moving-right {
  0%, 100% {
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  50% {
    -o-transform: rotate(-75deg);
    transform: rotate(-75deg);
  }
}
@keyframes an-spotlight-moving-right {
  0%, 100% {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(-75deg);
    -moz-transform: rotate(-75deg);
    -o-transform: rotate(-75deg);
    transform: rotate(-75deg);
  }
}

@-webkit-keyframes an-spotlight-moving-left {
  0%, 100% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(75deg);
    transform: rotate(75deg);
  }
}
@-moz-keyframes an-spotlight-moving-left {
  0%, 100% {
    -moz-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  50% {
    -moz-transform: rotate(75deg);
    transform: rotate(75deg);
  }
}
@-o-keyframes an-spotlight-moving-left {
  0%, 100% {
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  50% {
    -o-transform: rotate(75deg);
    transform: rotate(75deg);
  }
}
@keyframes an-spotlight-moving-left {
  0%, 100% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(75deg);
    -moz-transform: rotate(75deg);
    -o-transform: rotate(75deg);
    transform: rotate(75deg);
  }
}

@-webkit-keyframes an-airplane {
  0%, 85% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-43.75em, -16.25em);
    transform: translate(-43.75em, -16.25em);
  }
}
@-moz-keyframes an-airplane {
  0%, 85% {
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -moz-transform: translate(-43.75em, -16.25em);
    transform: translate(-43.75em, -16.25em);
  }
}
@-o-keyframes an-airplane {
  0%, 85% {
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -o-transform: translate(-43.75em, -16.25em);
    transform: translate(-43.75em, -16.25em);
  }
}
@keyframes an-airplane {
  0%, 85% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-43.75em, -16.25em);
    -moz-transform: translate(-43.75em, -16.25em);
    -o-transform: translate(-43.75em, -16.25em);
    transform: translate(-43.75em, -16.25em);
  }
}